
<h1>My Shipments</h1>

{% for shipment in data %}
    <div>
        <h3>{{ shipment.title }}</h3>
        <p>Status: {{ shipment.status }}</p>
        <p>Company: {{ shipment.company.company_name }}</p>
        <p>From: {{ shipment.pickup_location }}</p>
        <p>To: {{ shipment.delivery_location }}</p>
        <p>Driver: {{ shipment.driver }}</p>
        <p>Vehicle: {{ shipment.vehicle }}</p>

        <button><a href="{% url 'shipment_edit' shipment.id %}">Edit</a></button><br>

        {% if shipment.invoices.exists %}
            <a href="{{ shipment.invoices.first.pdf_file.url }}" target="_blank" class="btn btn-info">
                See Invoice
            </a>
        {% else %}
            <form action="{% url 'generate-invoice' shipment.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Generate Invoice</button>
            </form>
        {% endif %}
    </div>

{% endfor %}